{% extends 'base.html.twig' %}

{% form_theme formAccount 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1 class="py-lg-5">Créer un compte</h1>

    <div class="col-md-5">
        {{ form_start(formAccount) }}

        {{ form_widget(formAccount) }}

        <button type="submit" class="btn btn-success">
            Enregistrer
        </button>

        {{ form_end(formAccount) }}
    </div>
{% endblock %}
